{% extends 'base.html' %}
{% load static verbose_names %}

{% block page_title %}{{ block.super }} / Run tests{% endblock page_title %}

{% block content %}
<div id="runtests" class = 'runner'>
    <h1>Import Sandbox Data</h1>

    <div id="testconfigs" class="form-group">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="form-group">
                    <label>API_HOST:</label>
                    <input class="form-control" type="text" name="api_host" size="10" value="{{ mappings.API_HOST }}">
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="form-group">
                    <label>ADMIN_USERNAME:</label>
                    <input class="form-control" type="text" name="username" size="10" value="{{ mappings.ADMIN_USERNAME }}">
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="form-group">
                    <label>ADMIN_PASSWORD:</label>
                    <input class="form-control" type="text" name="password" size="10" value="{{ mappings.ADMIN_PASSWORD }}">
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="form-group">
                    <label>OAUTH_CONSUMER_KEY:</label>
                    <input class="form-control" type="text" name="consumer_key" size="10" value="{{ mappings.OAUTH_CONSUMER_KEY }}">
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="form-group">
                    <label>JSON FILE:</label>
                    <input class="form-control" type="text" name="output_path" size="10" value="{{ mappings.OUTPUT_PATH }}">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <button  class="btn btn-success form-control" id = "main_file">Import Main Json File</button>
            </div>
        </div>
        <br>

        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <button  class="btn btn-success form-control" id = "counterparty">Import Counterparty Json File</button>
            </div>
        </div>
        <br>

        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <button  class="btn btn-success form-control" id = "customer">Import Customer Json File</button>
            </div>
        </div>
    </div>
</div>
{% endblock content %}



{% block extrajs %}
<script type="text/javascript" src="{% static 'runtests/js/runtests.js' %}"></script>
<script type="text/javascript">
    URL_RUNTESTS_INDEX = "{% url 'runtests-index' %}";
    CURRENT_PROFILE_ID = "{{  testconfigs.selected.pk }}"
    CSRF = "{{ csrf_token }}"
</script>
{% endblock extrajs %}



{% block extracss %}
<link href="{% static 'runtests/css/runtests.css' %}" rel="stylesheet">
{% endblock extracss %}
